*{
    box-sizing: border-box;
}
.demo{
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 40px;
}
.word1 .word2{
    display: flex;
    align-items: center;
}
.leftone {
    padding: 0;
}
.rightone{
    padding: 0;
}